@model SeriesMVC.Models.IViewSeries

@{
    ViewData["Title"] = "My Series - Delete";
}

<div class="jumbotron-fluid">
    <div class="text-left">
        <h1 class="display-4" style="color:#263238">My Series - Delete</h1>
        <h5 style="color:#3d5afe">Delete this TV Series.</h5>
    </div>
</div>
<hr/>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>

<form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="waves-effect waves-light btn btn-danger">Delete</button>
        <a asp-action="Index">Back to List</a>
</form>