@using SeriesMVC.Utils
@model SeriesMVC.Models.IViewSeries

@{
    ViewData["Title"] = "My Series - Edit";
}

<div class="jumbotron-fluid">
    <div class="text-left">
        <h1 class="display-4">My Series - Edit Series</h1>
        <h5>Edit your TV Series.</h5>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-6">

        <div id="form-div">
            <form asp-action="Edit" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                
                <div class="form-group col s12">
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    <select asp-for="Gender" class="form-select">                        
                        @foreach (var genderView in ListsOf.GenderViews()) {
                            if (genderView.Gender == Model.Gender)
                            {
                                <option value="@genderView.Gender" selected>@genderView.Description</option>
                            }
                            else
                            {
                                <option value="@genderView.Gender">@genderView.Description</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group col s12">
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" type="text" value="@Model.Title" class="form-control"/>
                </div>

                <div class="form-group col s12">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" value="@Model.Description"></textarea>
                </div>

                <div class="form-group col s2">
                    <span asp-validation-for="Year" class="text-danger"></span>
                    <label asp-for="Year">Year</label>
                    <input asp-for="Year" type="number" value="@Model.Year"
                        min="1900" max="@DateTime.Now.Year" class="form-control"/>
                </div>

                <br/>
                <button type="submit" class="waves-effect waves-light btn btn-success">Save</button>
                
            </form>
        </div>
        <br/>
        <div>
            <a asp-action="Index">Back to My Series</a>
        </div>

    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}